body {
    background-color: #ddadaf;
}
#flex {
    background-color: #fadadd;
}
nav {
    background-color: #d8bfd8;
}
main {
    background-color: #;
}
h1 {
    color: #000000;
}
h2 {
    color: #292223;
}
h3 {
    color: #775c60;
}